<div id="flash_message">
  <% if notice %>
    <div id="fadeout" class="m-3 flex justify-end">
      <div class="py-2 px-4 text-sm text-center bg-black text-yellow-300 rounded-full">
        <%= notice %>
      </div>
    </div>
  <% end %>
  <% if alert %>
    <div id="fadeout" class="m-3 flex justify-end">
      <div class="w-full md:w-2/5 lg:w-1/4  mt-5 p-3 text-sm text-center bg-black text-rose-100 rounded-full">
        <%= alert %>
      </div>
    </div>
  <% end %>
</div>