<footer class="bottom-0 bg-pink-500">
  <div class="py-2 px-4 flex items-center justify-between text-pink-100">
    <p>&copy; <%= Time.current.year %> HabitBi</p>
    <div class="text-sm space-x-3">
      <%= link_to "Contact", "#" %>
      <%= link_to "FAQs", "#" %>
      <%= link_to "Privacy", "#" %>
    </div>
  </div>
</footer>